MONGODB_URI=mongodb+srv://mongodbuser:Redhat@123@mongodb.tnzqy5j.mongodb.net/?appName=mongodb
JWT_SECRET=your-256-bit-hex-encoded-secret-key-here
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://yourdomain.com
LOW_STOCK_THRESHOLD=10
